$font-stack: Arial; 
$font-family-one: 'Marzaki Text';
$font-family-two: 'Karla';
$primary-one-color: #495E57;
$primary-two-color: #F4CE14;
$secondary-one-color: #EE9972;
$secondary-two-color: #FBDABB;
$highlight-one-color: #EDEFEE;
$highlight-two-color: #333333;

:root{
  font-family: 'Karla';
}

@mixin margin-root() {
  margin: 0 auto;
  width: 100%;
}

*,:after,:before {
  box-sizing: border-box
}

blockquote,body,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
  margin: 0
}

ol,ul {
  list-style: none;
  padding-inline-start: 0;
}

html:focus-within {
  scroll-behavior: smooth
}

button,input,select,textarea {
  font: inherit
}

a:active,a:hover,a:link,a:visited {
  text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit
}



// TO TEST
.title {
  font-family: $font-family-one, 'sans-serif';
  font-size: 48pt;
  font-weight: 500
}

.subtitle {
  font-family: $font-family-one, 'sans-serif';
  font-size: 32pt;
  font-weight: 400
}

.leadtext {
  font-family: $font-family-two, 'serif';
  font-size: 18pt;
  font-weight: 400
}
.section-title {
  font-family: $font-family-two, 'serif';
  font-size: 20pt;
  font-weight: 800
}
%section-title {
  font-family: $font-family-two, 'serif';
  font-size: 20pt;
  font-weight: 800
}
.section-categories {
  font-family: $font-family-two, 'serif';
  font-size: 16pt;
  font-weight: 800
}
.card-title {
  font-family: $font-family-two, 'serif';
  font-size: 18pt;
  font-weight: 700
}
.paragraph-text {
  font-family: $font-family-two, 'serif';
  font-size: 16pt;
  font-weight: 400
}
.highlight-text {
  font-family: $font-family-two, 'serif';
  font-size: 16pt;
  font-weight: 500
}
%highlight-text {
  font-family: $font-family-two, 'serif';
  font-size: 16pt;
  font-weight: 500
}

.flex-v {
  display: flex;
  justify-content: center;
}

.flex-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// --> TO TEST


/*** HEADER ***/
body,header {
  background-color: $highlight-one-color
}

header {
  @include margin-root();
  padding: 20px;
  z-index: 100;
  position: fixed;
  transition: 0.5s
}

header div {
flex-wrap: wrap;
}

.hamburger {
  display: block;
  margin-left: auto;

  cursor: pointer;
  transition: 0.3s;
}

.div-header--open {
  transform: translate(0) !important;
  z-index: 99;
}

.div-header {
  justify-content: space-between;
}

.div-header ul {
background-color: $highlight-one-color;
position: fixed;
top: 55px;
left: 0;
width: 100%;
flex-direction: column;
align-items: center;
row-gap: 35px;
padding: 20px 0;

transform: translateX(-100%);
}

.li-header {
  transition: all 0.3s ease-in-out;
}

.li-header a {
  padding: 0 20px;
  color: $highlight-two-color;
  transition: all 0.4s;
}
.li-header a:hover,.li-header a:focus {
  color: $primary-two-color;
}
.li-header li {
  width: max-content;
}

.page-not-found{
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmed-booking {
  height: 100vh;
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 31.25rem;
  padding: 1.875rem 0 1.875rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}


/*** MAIN ***/
.App main {
  width: 100%;
  margin: auto;
}

.main-hero {

  background-color: $primary-one-color;
  display: flex;
  flex-direction: column;
  padding: 6rem 3rem;
  position:relative;


  h1 {
    color: #F4CE14;
  }

  h2,p {
    color:#EDEFEE ;
  }

  p {
    padding: 40px 10px;
    min-width: 50px;
    max-width: 550px;
  }

  button {
    border: none;
    border-radius: 10px;
    background-color:#F4CE14;
    width: fit-content;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    align-self: center;
    cursor: pointer;
  }

  button:hover {
    background-color:#dfa916;
  }

  img {
    display: none;
  }
}


/*** SPECIALS ***/
#specials {
  background-color:#ffffff;
}
.main-menu {
  background-color:#ffffff;
  padding: 5rem 3rem;
  width: 100%;
  margin: auto;

  .bar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  button {
    border: none;
    border-radius: 10px;
    background-color:#EE9972;
    width: fit-content;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    cursor: pointer;
  }

  button:hover {
    background-color:#f08655;
  }

  .main-menu-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    justify-content: center;
    justify-items: center;

  counter-reset: grid;
  }

  .card-menu {
    // height: 430px;
    background-color:#EDEFEE;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px 0;
    border-radius: 15px;
  }
  
  .card-menu:last-child{
    // background-color: #dfa916;
    // grid-column: span 2;
  }

  .card-menu > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
  }

  .card-menu .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .card-menu .card-header {
    padding:  20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-menu .card-price {
    color: #EE9972;
    font-weight: 500;
  }

  .card-menu .card-description {
    padding: 10px 20px;
    height: 120px;
  }

  .card-menu .card-button {
    background-color: #495E57;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EDEFEE;
  }
  .card-menu .card-button:hover {
    background-color:#2b6954;
  }
  .card-menu .card-button span {
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }

  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  .card-menu .card-button img {
    width: 20px;
    background-color: #EDEFEE;
    border-radius: 20%;
  }
}

/*** CUSTOMERS ***/
#customersay {
  background-color: #495E57;
}
.main-customers {
  background-color: #495E57;
  padding: 5rem 3rem;
  width: 100%;
  margin: auto;

  .section-title{
    color:#ffffff;
    text-align: center;
    padding-bottom: 2rem;
  }

  .main-customers-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    justify-content: center;
    justify-items: center;
    gap: 1rem;
  }

  .card-testimonial {
    background-color:#EDEFEE;
    height: 200px;
    padding: 1rem 1rem;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
  }


  .card-testimonial img {
    width: 90%;
    height: 90%;
    object-fit:cover;
    // clip-path: circle(45.0% at 50% 50%);
    border-radius: 30% 70% 46% 54% / 35% 40% 60% 65% ;
  }

  .card-testimonial .card-body {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    gap: 10px;
    padding: 1.5em;
    width: 60%;
    height: auto;
  }

  .card-testimonial p {

   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5;
           line-clamp: 5;
   -webkit-box-orient: vertical;
  }

  .card-testimonial .card-stars {
    display: flex;
    flex-direction: row;
    height: 30px;
    width:100px;
  }

  .card-testimonial .card-stars img {
    height: 25px;
  }
}


/*** CHICAGO ***/
#chicago {
  background-color:#ffffff;
}
.main-chicago {
  background-color:#EDEFEE;
  padding: 5rem 3rem;
  margin: 0 auto;
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: column;

  h1 {
    color: #F4CE14;
  }

  h2,p {
    color:#333333 ;
  }

  p {
    padding: 40px 10px;
    min-width: 50px;
    max-width: 550px;
  }

  .aboutus-images-grid {
    grid-gap: 1.5em;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}


/*** BOOKING ***/
#booking {
  background-color: #495E57;
}
.main-booking {
  background-color: #495E57;
  color: #EDEFEE;
  padding: 5rem 3rem;
  margin: 0 auto;
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  fieldset {
    display: flex;
    width: 300px;
    max-width: 500px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-direction: column;
  }

  label {
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  sup {
    color: red;
    top: -2px;
    font-size: 95%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  input,
  select {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 32px;
    padding: 0 8px;
    color: #333333;
  }

  // input::placeholder {
  //   color: red;
  //   opacity: 1; /* Firefox */
  // }
  
  .Field {
    position: relative;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
  }

  button {
    padding: 15px;
    width:fit-content;
    border-radius: 4px;
    border: none;
    background-color:#dfa916;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;    
    align-self: center;

  }
  
  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }

  p {
    font-size: 15px;
    padding: 5px 0;
  }
}




// *** FOOTER ***
footer {
  background-color: $primary-one-color;
  padding: 6rem 3rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

footer > img {
  justify-items: center;
  margin: auto;
  padding-bottom: 20px;
}

footer > nav {
  align-self: center;
}


footer h3 {
  @extend %section-title;
  color: $primary-two-color;
}

.footer-nav {
  padding: 0 40px;
}
.footer-nav li {
  padding: 3px 0;
}

.footer-nav a {
  @extend %highlight-text;
  color: $highlight-one-color;
  padding: 3px 0;
}


/*** MEDIA QUERY ***/
@media (min-width: 440px) {
  // header {
  //   background-color: rgb(37, 37, 37)
  // }

  .main-hero{
    p {
      max-width: 350px;
    }

    img {
      display: block;
      position: absolute;
      border-radius: 10px;
      width: 30%;
      max-width: 350px;
      bottom: -60px;
      left: 60%
    }

    button {
      align-self: start;
    }
  }

  .main-menu {
    h1,button {
      align-self: start;
    }
  }
}

@media (min-width: 640px) {
  // header {
  //   background-color: grey
  // }
}

//da 640px al prox breakpoint
@media (min-width: 640px) {
  // header {
  //   background-color: rgb(150, 60, 60)
  // }

  .main-hero{
    p {
      max-width: 300px;
    }
  }

  .main-chicago .aboutus-images-grid {
    grid-template-columns: repeat(2,1fr);
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
  }
}

//fino a 768px
@media (min-width: 768px) {

  // header {
  //   background-color: rgb(236, 147, 29);
  // }

  header div {
    flex-wrap: wrap;
  }
  .div-header {
    justify-content: center;
  }

  header {
    position: fixed;
    align-items: center;
    padding: 1rem;
    width: 100%;
    transition: 0.5s
  }

  header > div {
    @include margin-root();
  }

  .hamburger {
    display: none;
  }

  .div-header ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    row-gap: 20px;
    padding: 10px 0;

    transform: translateX(0);
  }

  .main-hero {
    padding-top: 200px;
  }

  .main-hero{
    p {
      font-size: 20px;
    }
  }

  .main-chicago {
    padding-left: 15%;
  }

}

@media (min-width: 1024px) {
  // header {
  //   background-color: rgb(191, 241, 53)
  // }

  .div-header {
    justify-content: space-between;
    padding: 0 40px;
  }

  .main-hero {
    p {
      font-size: 25px;
      max-width: 400px;
    }

    padding-left: 15%;
  }

  .main-chicago {
    position: relative;
    margin-bottom: 20px;

    p {
      max-width: 400px;
    }
  } 

  .main-chicago .aboutus-images-grid .photo-cont-1, .main-chicago .aboutus-images-grid .photo-cont-2 {
    height: 320px;
    position: absolute;
    width: 272px;
  }
  .main-chicago .aboutus-images-grid .photo-cont-1 {
    right: 30px;
    top: 40px;
  }
  .main-chicago .aboutus-images-grid .photo-cont-2 {
    right: 200px;
    top: 198px;
    z-index: 0;
  }

  footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }
}

@media (min-width: 1200px) {
  // header {
  //   background-color: rgb(7, 165, 152)
  // }

  .main-hero {
    p {
      font-size: 30px;
      max-width: 450px;
    }

    padding-left: 25%;
  }

  .main-menu {
    width: 70%;
    margin: auto;
  }

  .main-customers {
    padding: 10rem 15rem;
    .section-title {
      padding-bottom: 4rem;
    }
  }

  .main-customers-cards {
    gap: 5rem !important; 
  }

  .main-chicago {
    margin: 4rem 0;
    padding-left: 30%;
    p {
      font-size: 24px;
    }
  }

  
  .main-chicago .aboutus-images-grid .photo-cont-1 {
    right: 100px;
    top: 40px;
  }
  .main-chicago .aboutus-images-grid .photo-cont-2 {
    right: 200px;
    top: 198px;
    z-index: 0;
  }
}

@media (min-width: 1500px) {
  // header {
  //   background-color: rgb(2, 65, 59)
  // }

  .main-chicago .aboutus-images-grid .photo-cont-1 {
    right: 300px;
    top: 40px;
  }
  .main-chicago .aboutus-images-grid .photo-cont-2 {
    right: 500px;
    top: 198px;
    z-index: 0;
  }

  .main-booking .Field {
    font-size: 20px;
  }
  .main-booking label {
    font-size: 18px;
  }
  .main-booking button {
    font-size: 18px;
  }
}